*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 40px;
}
a{
    text-decoration: none;
}
.header{
    position: fixed;
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    background: #1d5cb6;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
}
.header span{
    color: white;
    font-size: 0.95rem;
    line-height: 2.2rem;
    /*display: block;*/
    margin-left: 0.2rem;
}
.header .img1{
    float: left;
    width: 1.1rem;
    margin-left: 0.75rem;
    margin-top: 0.5rem;
}
.header .img2{
    float: right;
    width: 1.3rem;
    margin-right: 0.75rem;
    margin-top: 0.5rem;
}
.mycontainer{
    width: 100%;
    position: relative;/*此时要设置position*/
    height: 100%;
    max-height: 100%;
    padding: 2.2rem 0 2.45rem 0;
    box-sizing: border-box;
    overflow: auto;
}
.mycontainer-top{
    width: 100%;
    background: url("../img/home_bg_02.png") repeat;
    background-size: 100%;
    height: 5rem;
    /*margin-top: 88px;!*此时设置的margin不能用rem*!*/
    /*padding: 1.125rem 0;*/
}
.mycontainer-top .left{
    float: left;
    width: 34.67%;
    border-right: 1px solid white;
    text-align: center;
    margin-top: 0.8rem;
}
.mycontainer-top .left img{
    width: 1.25rem;
    height: 1.1rem;
}
.mycontainer-top .left .text1{
    font-size: 0.8rem;
    color: #64acfb;
}
.mycontainer-top .left .text2{
    font-size: 0.8rem;
    color: white;
}
.mycontainer-top .left .text3{
    font-size: 0.5rem;
    color: white;
}
.mycontainer-top .middle{
    float: left;
    width: 30.67%;
    text-align: center;
    border-right: 1px solid white;
    margin-top: 0.8rem;
}
.mycontainer-top .middle .text{
    font-size: 0.5rem;
    color: white;
    height: 1.1rem;
    width: 1.25rem;
}
.mycontainer-top .middle .text1{
    font-size: 0.8rem;
    color: #64acfb;
}
.mycontainer-top .middle .text2{
    font-size: 0.8rem;
    color: white;
}
.mycontainer-top .middle .text3{
    font-size: 0.5rem;
    color: white;
}
.mycontainer-top .right{
    float: left;
    width: 33.67%;
    text-align: center;
    margin-top: 0.8rem;
}
.mycontainer-top .right .text1{
    font-size: 0.8rem;
    color: #64acfb;
}
.mycontainer-top .right .text2{
    font-size: 0.8rem;
    color: white;
}
.mycontainer-top .right .text3{
    font-size: 0.5rem;
    color: white;
}
.mycontainer-content{
    width: 100%;
    margin-top: 10px;
    /*padding-bottom: 2.45rem;*/
}
.mycontainer-content .mycontainer-specific{
    width: 100%;
    /*border-top: 1px solid #adadad;*/
    height: 2.45rem;
    line-height: 2.45rem;
    list-style: none;
    margin: 0;
}
.mycontainer-content .mycontainer-specific .mycontainer-specific-left{
    border-top: 1px solid #adadad;
    height: 2.45rem;
    width: 49.59%;
    float: left;
}
.mycontainer-content .mycontainer-specific .mycontainer-specific-left img{
    margin-left: 30px;
    margin-top: -0.4rem;
}
.mycontainer-content .mycontainer-specific .mycontainer-specific-left span{
    color: #333333;
    font-size: 0.8rem;
    margin-left: 10px;
}
.mycontainer-content .mycontainer-specific .mycontainer-specific-middle{
    border-top: 1px solid #adadad;
    height: 2.45rem;
    float: left;
    width: 25.74%;
}
.mycontainer-content .mycontainer-specific .mycontainer-specific-middle img{
    margin-top: -0.4rem;
}
.mycontainer-content .mycontainer-specific .mycontainer-specific-middle .text1{
    color: #333333;
    font-size: 0.8rem;
    margin-left: 10px;
}
.mycontainer-content .mycontainer-specific .mycontainer-specific-middle .text2{
    color: #333333;
    font-size: 0.5rem;
}
.mycontainer-content .mycontainer-specific .mycontainer-specific-right{
    border-top: 1px solid #adadad;
    height: 2.45rem;
    float: left;
    width: 24.67%;
}
.mycontainer-content .mycontainer-specific .mycontainer-specific-right img{
    margin-top: -0.4rem;
}
.mycontainer-content .mycontainer-specific .mycontainer-specific-right .text1{
    color: #333333;
    font-size: 0.8rem;
    margin-left: 10px;
}
.mycontainer-content .mycontainer-specific .mycontainer-specific-right .text2{
    color: #333333;
    font-size: 0.5rem;
}
.footer{
    position: fixed;
    width: 100%;
    height: 2.45rem;
    bottom: 0;
    left: 0;
}
.footer a{
    text-decoration: none;
}
.footer-container{
    width: 100%;
    /*background: #1d5cb6;*/
}
.current{
    background: #1e69d2;
    text-align: center;
    width: 25%;
    height: 2.45rem;
    float: left;
}
.footer-container .switchboard{
    background: #1d5cb6;
    text-align: center;
    width: 25%;
    height: 2.45rem;
    float: left;
}
.footer-container .switchboard img{
    margin-top: 0.5rem;
}
.footer-container .switchboard span{
    font-size: 0.5rem;
    color: white;
    display: block;
}
.footer-container .WIFI{
    width: 25%;
    height: 2.45rem;
    text-align: center;
    float: left;
    background: #1d5cb6;
}
.footer-container .WIFI img{
    margin-top: 0.5rem;
}
.footer-container .WIFI span{
    font-size: 0.5rem;
    color: white;
    display: block;
}
.footer-container .terminal{
    width: 25%;
    height: 2.45rem;
    text-align: center;
    float: left;
    background: #1d5cb6;
}
.footer-container .terminal img{
    margin-top: 0.5rem;
}
.footer-container .terminal span{
    font-size: 0.5rem;
    color: white;
    display: block;
}
.footer-container .alarm-information{
    width: 25%;
    height: 2.45rem;
    text-align: center;
    float: left;
    background: #1d5cb6;
}
.footer-container .alarm-information img{
    margin-top: 0.5rem;
}
.footer-container .alarm-information span{
    font-size: 0.5rem;
    color: white;
    display: block;
}
/*弹出层*/
#bg{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#show{
    display: none;
    position: absolute;
    top: 25%;
    left: 13%;
    width: 74.67%;
    height: 22.404%;
    padding: 1.5rem 0rem 1rem;
    border: 1px solid #adadad;
    border-radius: 15px;
    background-color: #f5f5f5;
    z-index:1002;
    overflow: auto;
    text-align: center;
    font-size: 0.8rem;
}
#btn{
    width: 100%;
    border: 1px solid white;
    margin: auto;
    text-align: center;
}
#btn button:first-child{
    /*background: #1ab301;*/
    background: white;
    color: #343434;
    font-size: 0.8rem;
    width: 4rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 10px;
    margin-top: 1.375rem;
}
#btn button:nth-child(2){
    /*background: #c2c2c2;*/
    background: #ebebeb;
    color: #999999;
    font-size: 0.8rem;
    width: 4rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 10px;
    margin-left: 1.875rem;
    margin-top: 1.375rem;
}
#in{
    width: 87.5%;
    height: 2.075rem;
    border-radius: 10px;
    border: 1px solid #adadad;
    margin: auto;
    margin-top: 1.15rem;
}
#in img{
    margin-top: 0.6rem;
}
#inp{
    height: 100%;
    width: 66.51%;
    border: none;
    margin-left: 0px;
    float: left;
    font-size: 0.8rem;
    color: #999999;
    outline: none;
}
#inp:active,#inp:hover{
    border: none;
}
#company{
    width: 23.43%;
    height: 100%;
    color: #235ab7;
    border-left: 1px solid #adadad;
    float: right;
    text-align: center;
    font-size: 0.8rem;
    line-height: 2.075rem;
}